{"jsEngine":"hermes","extra":{"eas":{"projectId":"b9b606f7-68d0-45ab-aba9-80d8085c709f"}},"owner":"quinn-app","android":{"package":"com.quinn.android"},"ios":{"bundleIdentifier":"com.quinn.ios"},"name":"quinn","slug":"quinn","version":"1.7.1","sdkVersion":"53.0.0","platforms":["ios","android","web"]}